.form-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

mat-form-field{
  width: 100%;
  max-width: 600px;
  margin: 5px 10px 5px 10px;
}

.creation-container{
  flex: 25%;
  max-height: 500px;
  margin-right: 30px;
  margin-left:30px;
  margin-top:26px;
}

.form-area {
  flex: 75%;
}

.content{
  display: flex;
  justify-content: center;
}

.no-value-cell {
  padding: 20px;
  text-align: center;
}

.responsive-size{
  display: none
}


.table-container {
  max-height: 600px;
  overflow: auto;
}

@media (max-width: 960px) {

  .responsive-size{
    margin: 30px;
    display: block
  }

  .creation-container{
    flex: 100%;
    width: 100%;
    max-width: 600px;
    margin: auto;
  }

  .table-container {
    max-height: 400px;
    overflow: auto;
  }

  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
