/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --primary-color: #153d77;
  --secondary-color: #6c757d;
  --white-color: #fff;
  --black-color:   #000;
  --success-color: rgb(2, 97, 2);
  --delete-color: rgb(158, 15, 15);
  --background-color: #f2f2f2;
}

.success-snackbar {
  color: rgb(2, 97, 2);
  --mdc-snackbar-container-color: var(--success-color);
  width: 100%;
  .mat-mdc-button-persistent-ripple{
    --mat-mdc-button-persistent-ripple-color: none;
  }
  .mdc-snackbar__label{
    color: white !important;
  }
  .mdc-button__label {
    color: rgb(0, 0, 0);
  }
}


.error-snackbar {
  background: #153d77;
  width: 100%;
  // color: white;
  // --mdc-snackbar-container-color: var(--delete-color);

  // .cdk-overlay-pane{
    //   width: 100% !important;
    // }

    // .mdc-snackbar__surface {

      // max-width: 800px;
      //   width: 100%;
      // }

      // .mdc-snackbar__label{
        //   color: white !important;
        // }
  .mat-mdc-button-persistent-ripple{
    --mat-mdc-button-persistent-ripple-color: none;
  }

  .mdc-button__label {
    color: rgb(255, 255, 255);
  }

    --mdc-snackbar-container-color: rgb(122, 3, 3);
    --mdc-snackbar-supporting-text-color: rgb(255, 255, 255);

}

