<div class="form-title"><h1>Book creation</h1></div>
<div class="form-container">
  <form [formGroup]="chapter" (ngSubmit)="onSubmit()" class="flex-container">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="Name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>topic</mat-label>
      <input matInput placeholder="topic" formControlName="topic" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Numero</mat-label>
      <input matInput placeholder="Number" formControlName="Number" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput placeholder="Description" formControlName="Description" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Book</mat-label>
      <mat-select formControlName="Book">
        <mat-option *ngFor="let book of books$ | async" [value]="book.id">
          {{ book.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>
