<mat-tab-group>
  <mat-tab label="All">
    <argi-guess-words [typeWord]="'zenbu'"></argi-guess-words>
  </mat-tab>
  <mat-tab label="Doushi">
    <argi-guess-words [typeWord]="'doushi'"></argi-guess-words>
  </mat-tab>
  <mat-tab label="Keiyoushi"
    ><argi-guess-words [typeWord]="'keiyoushi'"></argi-guess-words>
  </mat-tab>
  <mat-tab label="Meishi"
    ><argi-guess-words [typeWord]="'meishi'"></argi-guess-words>
  </mat-tab>
  <mat-tab label="Fukushi"
    ><argi-guess-words [typeWord]="'fukushi'"></argi-guess-words>
  </mat-tab>
</mat-tab-group>
