<mat-form-field style="margin-top: 15px">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input />
</mat-form-field>
<div class="table-responsive">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <div style="display: flex">
          <button
            mat-icon-button
            matTooltip="Click to Edit"
            (click)="editRow(element)"
            class="iconbutton"
            color="primary"
          >
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>

          <button
            mat-icon-button
            matTooltip="Click to Edit"
            (click)="deleteRow(element)"
            class="iconbutton"
            color="primary"
          >
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element" class="column-table">
        {{ element.name }}
      </td>
    </ng-container>

    <!-- Kanji Column -->
    <ng-container matColumnDef="kanji">
      <th mat-header-cell *matHeaderCellDef>Kanji</th>
      <td mat-cell *matCellDef="let element" class="column-table">
        {{ element.kanji }}
      </td>
    </ng-container>

    <!-- Translation Column -->
    <ng-container matColumnDef="translation">
      <th mat-header-cell *matHeaderCellDef>Translation</th>
      <td mat-cell *matCellDef="let element" class="column-table">
        {{ element.translation.join(", ") }}
      </td>
    </ng-container>

    <!-- Translaion Column -->
    <ng-container matColumnDef="group">
      <th mat-header-cell *matHeaderCellDef>Group</th>
      <td mat-cell *matCellDef="let element" class="column-table">
        {{ element.group }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="teKei">
      <th mat-header-cell *matHeaderCellDef>て形</th>
      <td mat-cell *matCellDef="let element" class="column-table">
        {{ element.teKei }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="taKei">
      <th mat-header-cell *matHeaderCellDef>た形</th>
      <td mat-cell *matCellDef="let element" class="column-table">
        {{ element.taKei }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="jishoKei">
      <th mat-header-cell *matHeaderCellDef>じしょ形</th>
      <td mat-cell *matCellDef="let element" class="column-table">
        {{ element.jishoKei }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="naiKei">
      <th mat-header-cell *matHeaderCellDef>ない形</th>
      <td mat-cell *matCellDef="let element" class="column-table">
        {{ element.naiKei }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="kanoKei">
      <th mat-header-cell *matHeaderCellDef>かの形</th>
      <td mat-cell *matCellDef="let element" class="column-table">
        {{ element.kanoKei }}
      </td>
    </ng-container>

    <ng-container matColumnDef="joukenKei">
      <th mat-header-cell *matHeaderCellDef>条件形</th>
      <td mat-cell *matCellDef="let element" class="column-table">
        {{ element.joukenKei }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="present">
      <th mat-header-cell *matHeaderCellDef>Present</th>
      <td mat-cell *matCellDef="let element" class="column-table">
        {{ element.present }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="past">
      <th mat-header-cell *matHeaderCellDef>Past</th>
      <td mat-cell *matCellDef="let element" class="column-table">
        {{ element.past }}
      </td>
    </ng-container>

    <ng-container matColumnDef="negative">
      <th mat-header-cell *matHeaderCellDef>Negative</th>
      <td mat-cell *matCellDef="let element" class="column-table">
        {{ element.negative }}
      </td>
    </ng-container>

    <ng-container matColumnDef="negativePast">
      <th mat-header-cell *matHeaderCellDef>Negative Past</th>
      <td mat-cell *matCellDef="let element" class="column-table">
        {{ element.negativePast }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell no-value-cell" colspan="16">No data</td>
    </tr>
  </table>
</div>
