<div class="content">
  <div class="form-container form-area">
    <div class="form-title"><h1>Exams creation</h1></div>
    <form [formGroup]="exam" (ngSubmit)="onSubmit()" class="flex-container">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="Name" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Level</mat-label>
        <input matInput placeholder="Level" formControlName="Level" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <input
          matInput
          placeholder="Description"
          formControlName="Description"
        />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </div>
  <mat-divider class="responsive-size"></mat-divider>
  <div class="creation-container">
    <h3 style="text-align: center">Last exams added</h3>
    <div class="table-container">
      <argi-creation-grid [kotobaType]="'exam'" [refreshTable]="refresh">
      </argi-creation-grid>
    </div>
  </div>
</div>
