.form-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

mat-form-field{
  width: 100%;
  max-width: 600px;
  margin: 5px 10px 5px 10px;
}
