<mat-nav-list class="side-navnar">
  <ng-container *ngFor="let menu of menuList; index as i">
    <ng-container
      [ngTemplateOutlet]="menu.children ? childMenu : parentMenu"
      [ngTemplateOutletContext]="{ menu: menu }"
    >
    </ng-container>
  </ng-container>
</mat-nav-list>

<ng-template #parentMenu let-menu="menu">
  <mat-list-item
    (click)="expandedtoggle()"
    class="list-item"
    [routerLink]="menu.routerLink"
    routerLinkActive="is-active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <mat-icon class="icon-menu-row">{{ menu.icon }}</mat-icon>
    <div class="text-menu-row">{{ menu.text }}</div>
  </mat-list-item>
</ng-template>

<ng-template #childMenu let-menu="menu">
  <mat-expansion-panel [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header>
      <mat-icon mat-list-icon class="icon-menu-row">{{ menu.icon }}</mat-icon>
      <div class="text-menu-row">{{ menu.text }}</div>
    </mat-expansion-panel-header>
    <mat-nav-list class="panel-menu-row">
      <mat-list-item
        (click)="expandedtoggle()"
        [routerLink]="submenu.routerLink"
        *ngFor="let submenu of menu.children"
        routerLinkActive="is-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon class="icon-menu-row">{{ submenu.icon }}</mat-icon>
        <div class="text-menu-row">{{ submenu.text }}</div>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>
</ng-template>
